# Default ignored files
/../../../:servelet-jsp-calisto/.idea/shelf/
/../../../:servelet-jsp-calisto/.idea/workspace.xml
# Environment-dependent path to Maven home directory
/../../../:servelet-jsp-calisto/.idea/mavenHomeManager.xml
